---
import Layout from '@/layouts/Layout.astro';
import '@/styles/globals.css'
import GenMatrixParamForm from '@/components/GenMatrixParamForm';
import Header from '@/components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main class="w-screen h-screen overflow-y-auto px-4 py-10 flex flex-col gap-4 items-center">
		<h1 class="text-5xl mx-auto max-w-[600px] mb-10 font-bold text-warp text-center">
			Generador de Matrices y parámetros
		</h1>
        <GenMatrixParamForm client:load />
	</main>
</Layout>
<style></style>
