<header class="sticky top-0 z-10 w-full bg-white shadow-sm">
    <div class="container flex h-16 items-center justify-between px-4 md:px-6">
      <a class="font-bold text-lg" href="/">
        <span >Matrino</span>
      </a>
        <a class="text-sm font-medium underline-offset-4 hover:bg-slate-200 rounded px-1 py-0.5" href="/">
          Back
        </a>
    </div>
  </header>