---
import Layout from '@/layouts/Layout.astro';
import '@/styles/globals.css'
import GenCodeDualForm from '@/components/GenCodeDualForm';
import Header from '@/components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-screen h-screen overflow-y-auto">
	<Header />
		<div class="px-4 py-10 flex flex-col gap-4 items-center">
		<h1 class="text-5xl mx-auto max-w-[600px] mb-10 font-bold text-warp text-center">
			Generador de Código Dual
		</h1>
        <GenCodeDualForm client:load />
		</div>
	</main>
</Layout>
<style></style>
